.grid{
    height: 600px;
    width: 600px;
    display:grid;
    background-color: rgb(100, 100, 35);
    border: 2px solid red;   
    grid-template: repeat(3,2fr)/repeat(3,2fr);
    gap: 3px 3px;
}

.box{
    grid-row-start: 1;
    grid-row-end:2;
}

.box{
    background-color: blue;
    border: 2px solid black;
}